.movieList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.movieList div {
  height: auto;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {

  background-color: aqua;
  border-color: aqua;
}

